* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}



.management {
  position: relative;
  display: flex;

  flex-wrap: wrap;
  gap: 20px;
}

.pi-trash {
  color: var(--text-danger);
}

.tdAction i {
  cursor: pointer;
  padding: 5px;
}

.tdAction i:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
  display: none;

  &.active {
    display: block;
  }
}

.tableManagement {
  flex: 1 0 900px;

}

.zoneManagement {
  flex: 1 0 100px;
  /* max-width: 500px; */
  padding: 0 20px;
  border-left: 1px dashed var(--border-color);
}

.action {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed var(--border-color);
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
}

.zoneList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.zoneList .zone {
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
  width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.zone .tableList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* gap: 5px; */
  /* margin-top: 5px; */
}

.tableList .table {
  aspect-ratio: 1 / 1;
  /* padding: 0.5rem; */
  border: 1px solid var(--line-color);
  border-radius: 5px;
  cursor: pointer;
  /* background: var(--bg-table); */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--bg-card);

}

.table .table-status {
  font-size: 0.8rem;
}

/* Màu theo trạng thái */
.available {
  background-color: #4caf50;
}

.pending {
  background-color: #ff9800;
}

.preparing {
  background-color: #f44336;
}

.served {
  background-color: #2196f3;
}

.paid {
  background-color: #9c27b0;
}

.unavailable {
  background-color: #9e9e9e;
}

/* .tableList .table:hover {
  background-color: var(--bg-table-hover);
} */

.tableAction,
.zoneAction {
  position: relative;
}

.create-table-container {
  width: 400px;
  margin: 20px auto;
  padding: 16px;
  border: 1px dashed var(--border-color);
  position: absolute;
  top: 40px;
  left: 0;
  visibility: hidden;
  z-index: 10;
  background: var(--bg-card);

  &.active {
    visibility: visible;
  }
}

.create-table-container h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 16px;
}

.create-table-container i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-danger);
  cursor: pointer;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #bbb;
}

button {
  padding: 10px 20px;
  background: var(--bg-button-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--bg-button-primary-hover);
}

button:disabled {
  background: var(--bg-button-disabled);
}

.error {
  color: var(--text-danger);
  font-size: 12px;
}

.message {
  margin-top: 12px;
  font-weight: bold;
}

.editingZoneBtn {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* CHART */
.chart {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px dashed var(--border-color);
}

/* edit table */

.table-detail-container {
  position: absolute;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  border: 1px dashed var(--border-color);
  padding: 20px;
  background-color: var(--bg-card);
  z-index: 10;

}

.left-column {
  /* width: 400px; */
  border-right: 1px dashed var(--border-color);
}

.right-column {
  flex: 1;
  /* padding: 15px; */
  /* border: 1px solid #ddd; */
  /* border-radius: 8px; */
  /* background: #fafafa; */
}

h3 {
  margin-bottom: 10px;
  color: var(--text-heading);
}

.order-card {
  padding: 10px;
  margin-bottom: 15px;
  /* border: 1px solid var(--border-color);
  border-radius: 6px; */
  /* background: var(--bg-card); */
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.button-group {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-success {
  background-color: var(--bg-button-success);
  color: white;
}

.btn-danger {
  background-color: var(--bg-button-danger);
}

.btnCancel {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--text-danger);
  cursor: pointer;
}

.create-table-form {
  padding: 1rem;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p-field {
  display: flex;
  flex-direction: column;
}

.p-field label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #495057;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.5rem;
  gap: 0.5rem;
}

.message {
  text-align: center;
  margin-top: 1rem;
  color: #16a34a;
  font-weight: 500;
}

.table-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  padding: 1rem;
}

.left-column {
  flex: 1 1 250px;
  text-align: center;
}

.left-column h3 {
  margin-bottom: 1rem;
}

.left-column qrcode{
  display: flex;
  justify-content: center;
}

.right-column {
  flex: 2 1 400px;
}

.p-field {
  margin-bottom: 1rem;
}

.p-field label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #495057;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

::ng-deep .p-dialog .p-dialog-content {
  overflow: visible !important;
}