<div class="main">
    <p-toast position="bottom-right" [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
    <div class="backdrop" [class.active]="showEditTable ||showCreateTableForm ||showCreateZoneForm"
        (click)="showEditTable = false; showCreateTableForm = false; showCreateZoneForm = false"></div>
    <div class="management">
        <div class="tableManagement">
            <div class="tableAction action">
                <h1>Quản lý bàn</h1>
                <div class="btn">
                    <p-button label="Thêm bàn" [size]="'small'" icon="pi pi-plus"
                        (onClick)="showCreateTableForm = !showCreateTableForm"></p-button>
                </div>

                <p-dialog header="Tạo bàn mới" [(visible)]="showCreateTableForm" [modal]="true"
                    [style]="{ width: '30rem' }" [closable]="true" [draggable]="false" [resizable]="false">
                    <form [formGroup]="formCreateTable" (ngSubmit)="onSubmit()" class="create-table-form">
                        <div class="p-fluid form-grid">
                            <!-- Tên bàn -->
                            <div class="p-field">
                                <label for="table_name">Tên bàn</label>
                                <input pInputText id="table_name" formControlName="table_name"
                                    placeholder="Nhập tên bàn">
                                <small class="p-error"
                                    *ngIf="formCreateTable.controls['table_name'].invalid && formCreateTable.controls['table_name'].touched">
                                    Tên bàn không được để trống
                                </small>
                            </div>

                            <!-- Khu vực -->
                            <div class="p-field">
                                <label for="zone_id">Khu vực</label>
                                <p-select inputId="zone_id" formControlName="zone_id" [options]="zones"
                                    optionLabel="zone_name" optionValue="zone_id" placeholder="-- Chọn khu vực --"
                                    class="w-full" [appendTo]="'body'" [scrollHeight]="'120px'">
                                </p-select>
                                <small class="p-error"
                                    *ngIf="formCreateTable.controls['zone_id'].invalid && formCreateTable.controls['zone_id'].touched">
                                    Vui lòng chọn khu vực </small>
                            </div>
                        </div>

                        <div class="message" *ngIf="message">{{ message }}</div>

                        <div class="dialog-footer">
                            <p-button label="Hủy" icon="pi pi-times" styleClass="p-button-text p-button-danger"
                                (click)="showCreateTableForm = false">
                            </p-button>
                            <p-button label="Tạo bàn" icon="pi pi-check" type="submit"
                                styleClass="p-button-sm p-button-success">
                            </p-button>
                        </div>
                    </form>
                </p-dialog>


                <!-- <div class="create-table-container" [class.active]="showCreateTableForm">
                    <h2>Tạo bàn mới</h2>
                    <i class="pi pi-times" (click)="showCreateTableForm = false"></i>
                    <form [formGroup]="formCreateTable" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="table_name">Tên bàn</label>
                            <input id="table_name" type="text" formControlName="table_name"
                                placeholder="Nhập tên bàn" />
                            <div class="error"
                                *ngIf="formCreateTable.controls['table_name'].invalid && formCreateTable.controls['table_name'].touched">
                                Tên bàn không được để trống
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="zone_id">Khu vực</label>
                            <select id="zone_id" formControlName="zone_id">
                                <option value="">-- Chọn khu vực --</option>
                                <option *ngFor="let z of zones" [value]="z.zone_id">
                                    {{ z.zone_name }}
                                </option>
                            </select>
                            <div class="error"
                                *ngIf="formCreateTable.controls['zone_id'].invalid && formCreateTable.controls['zone_id'].touched">
                                Vui lòng chọn khu vực
                            </div>
                        </div>
                        <p-button label="Tạo bàn" type="submit" [size]="'small'"></p-button>
                    </form>

                    <div class="message" *ngIf="message">{{ message }}</div>
                </div> -->
                <p-confirmDialog></p-confirmDialog>

            </div>

            <div class="zoneList">
                <div class="zone" *ngFor="let zone of zonesData">
                    <h2>{{ zone.zone_name }}</h2>
                    <div class="tableList">
                        <div class="table" *ngFor="let table of zone.tables" (click)="selectedTable(table)"
                            [ngClass]="table.table_status">
                            <span>{{ table.table_name }}</span>
                            <span class="table-status">{{ getStatusLabel(table.table_status) }}</span>
                        </div>
                    </div>
                </div>

                <p-dialog header="Thông tin bàn" [(visible)]="showEditTable" [modal]="true" [style]="{ width: '50vw' }"
                    [closable]="true" [draggable]="false" [resizable]="false" *ngIf="selectedTableData">
                    <div class="table-detail">
                        <!-- Cột trái: QR Code -->
                        <div class="left-column" #qrCodeElement>
                            <h3>Mã QR</h3>
                            <qrcode [elementType]="'canvas'" [colorDark]="'#000'" [colorLight]="'#ffffff'"
                                [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'">
                            </qrcode>

                            <p-button label="Tải xuống QR Code" icon="pi pi-download" (click)="downloadQRCode()"
                                styleClass="p-button-sm p-button-outlined p-button-info mt-2">
                            </p-button>
                        </div>

                        <!-- Cột phải: Thông tin bàn -->
                        <div class="right-column">
                            <h3>Thông tin Bàn</h3>

                            <div class="p-fluid form-grid">
                                <div class="p-field">
                                    <label for="tableName">Tên bàn</label>
                                    <input pInputText id="tableName" [(ngModel)]="selectedTableData.table_name"
                                        placeholder="Nhập tên bàn">
                                </div>

                                <div class="p-field">
                                    <label for="tableStatus">Trạng thái</label>
                                    <p-select id="tableStatus" [(ngModel)]="selectedTableData.table_status"
                                        [options]="statusOptions" optionLabel="label" optionValue="value"
                                        placeholder="-- Chọn trạng thái --" [appendTo]="'body'"
                                        [scrollHeight]="'120px'">
                                    </p-select>
                                </div>

                                <div class="p-field">
                                    <label for="zone">Khu vực</label>
                                    <p-select id="zone" [(ngModel)]="selectedTableData.zone.zone_id" [options]="zones"
                                        optionLabel="zone_name" optionValue="zone_id" placeholder="-- Chọn khu vực --"
                                        [appendTo]="'body'" [scrollHeight]="'120px'">
                                    </p-select>
                                </div>
                            </div>

                            <div class="button-group">
                                <p-button label="Lưu" icon="pi pi-save" (click)="saveTable()"
                                    styleClass="p-button-sm p-button-success">
                                </p-button>

                                <p-button label="Xoá" icon="pi pi-trash" (click)="deleteTable()"
                                    styleClass="p-button-sm p-button-danger">
                                </p-button>
                            </div>
                        </div>
                    </div>
                </p-dialog>


            </div>
        </div>

        <div class="zoneManagement">
            <div class="zoneAction action">
                <h1>Quản lý khu vực</h1>
                <div class="btn">
                    <p-button label="Thêm khu vực" [size]="'small'" icon="pi pi-plus"
                        (onClick)="showCreateZoneForm = !showCreateZoneForm"></p-button>
                </div>

                <p-dialog header="Tạo khu vực mới" [(visible)]="showCreateZoneForm" [modal]="true"
                    [style]="{ width: '30rem' }" [closable]="true" [draggable]="false" [resizable]="false">
                    <form [formGroup]="formCreateZone" (ngSubmit)="createZone()" class="create-zone-form">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="zone_name">Tên khu vực</label>
                                <input pInputText id="zone_name" formControlName="zone_name" placeholder="Nhập tên khu vực">

                                <small class="p-error"
                                    *ngIf="formCreateZone.controls['zone_name'].invalid && formCreateZone.controls['zone_name'].touched">
                                    Tên khu vực không được để trống
                                </small>
                            </div>
                        </div>

                        <div class="dialog-footer">
                            <p-button label="Hủy" icon="pi pi-times" styleClass="p-button-text p-button-danger"
                                (click)="showCreateZoneForm = false">
                            </p-button>

                            <p-button label="Tạo khu vực" icon="pi pi-check" type="submit"
                                styleClass="p-button-sm p-button-success" [disabled]="formCreateZone.invalid">
                            </p-button>
                        </div>

                        <div class="message" *ngIf="message">
                            {{ message }}
                        </div>
                    </form>
                </p-dialog>

            </div>

            <div class="card">
                <p-table [value]="zoneData" stripedRows [tableStyle]="{'min-width': '450px'}">
                    <ng-template #header>
                        <tr>
                            <th [style.width.px]="250">Tên khu vực</th>
                            <th>Hành động</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-zoneData>
                        <tr>
                            <td>{{ zoneData.zone_name }}</td>
                            <td class="tdAction flex gap-1">
                                <p-button icon="pi pi-pencil" label="Sửa" [size]="'small'" severity="warn"
                                    (onClick)="editZone(zoneData)"></p-button>
                                <p-button icon="pi pi-trash" label="Xoá" [size]="'small'" severity="danger"
                                    (onClick)="deleteZone(zoneData.zone_id)"></p-button>
                            </td>
                        </tr>
                        @if(editingZone?.zone_id === zoneData.zone_id){
                        <tr>
                            <td>
                                <input type="text" pInputText [(ngModel)]="editingZone.zone_name"
                                    placeholder="Nhập tên khu vực" [pSize]="'large'" />
                            </td>
                            <td>
                                <div class="editingZoneBtn">
                                    <p-button label="Lưu" (onClick)="saveZone()" [size]="'small'"
                                        [severity]="'success'"></p-button>
                                    <p-button label="Huỷ" (onClick)="cancelEdit()" [size]="'small'"
                                        [severity]="'secondary'"></p-button>
                                </div>
                            </td>
                        </tr>
                        }
                    </ng-template>
                </p-table>
            </div>

        </div>

    </div>
</div>