<div class="main">
    <p-toast position="bottom-right" />
    <div class="container">
        <h2 class="title">Đổi mật khẩu</h2>

        <div class="form">
            <div class="field">
                <label for="currentPassword">Mật khẩu hiện tại</label>
                <input [(ngModel)]="currentPassword" id="currentPassword" type="password" pInputText
                    placeholder="Nhập mật khẩu hiện tại" />
            </div>

            <div class="field">
                <label for="newPassword">Mật khẩu mới</label>
                <input [(ngModel)]="newPassword" id="newPassword" type="password" pInputText
                    placeholder="Nhập mật khẩu mới" />
            </div>

            <div class="field">
                <label for="confirmPassword">Xác nhận mật khẩu mới</label>
                <input [(ngModel)]="confirmPassword" id="confirmPassword" type="password" pInputText
                    placeholder="Nhập lại mật khẩu mới" />
            </div>

            <p-button label="Đổi mật khẩu" styleClass="w-full" (onClick)="changePassword()">
            </p-button>
        </div>
    </div>
</div>