<div class="main">
    <!-- <p-toast position="bottom-right" [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" /> -->
    <p-toast position="bottom-right" styleClass="my-toast"></p-toast>

    <div class="backdrop" [class.active]="isBackdropActive" (click)="resetShow()"></div>

    <div class="nav">

        <div class="search">
            <h2>Tìm kiếm</h2>
            <p-floatlabel variant="on">
                <input pInputText [(ngModel)]="keyword" type="text" pSize="large" placeholder="Nhập từ khoá"
                    (ngModelChange)="search()" />
            </p-floatlabel>
        </div>

        <div class="filter">
            <h2>Danh mục</h2>
            <div class="cate cursor-pointer" [class.bg-blue-500]="!selectedCategory"
                [class.text-white]="!selectedCategory" (click)="filterByCategory(null)">Tất cả</div>
            <div class="cate cursor-pointer" [class.bg-blue-500]="selectedCategory === item.menu_category_name"
                [class.text-white]="selectedCategory === item.menu_category_name" *ngFor="let item of categories"
                (click)="filterByCategory(item.menu_category_name)">
                {{ item.menu_category_name }}
            </div>
        </div>

    </div>

    <div class="card">
        <p-table #dt [value]="filteredMenus" stripedRows [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10, 20, 50]" [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <!-- <span class="text-xl font-bold">Sản Phẩm</span> -->
                    <span>Có <strong>{{ menus.length || 0 }}</strong> sản phẩm</span>

                    <div class="btnAction flex gap-1">
                        <div class="relative">
                            <p-button icon="pi pi-plus" label="Thêm món" [size]="'small'"
                                (onClick)="showCreateItemForm = true"></p-button>

                            <!-- form tao mon -->
                            <p-dialog header="Tạo món mới" [(visible)]="showCreateItemForm" [modal]="true"
                                [style]="{ width: '60vw' }" [closable]="true" [draggable]="false" [resizable]="false">
                                <form [formGroup]="createItemData" (ngSubmit)="submitCreateItem()"
                                    class="create-item-form p-fluid">

                                    <div class="inputContent">
                                        <div class="p-field">
                                            <label for="menu_name">Tên món</label>
                                            <input pInputText id="menu_name" formControlName="menu_name"
                                                placeholder="Nhập tên món">
                                            <small class="p-error"
                                                *ngIf="createItemData.controls['menu_name'].invalid && createItemData.controls['menu_name'].touched">
                                                Tên món không được để trống
                                            </small>
                                        </div>

                                        <!-- Giá nhập -->
                                        <div class="p-field">
                                            <label for="import_price">Giá nhập</label>
                                            <p-inputNumber id="import_price" formControlName="import_price" [min]="0"
                                                mode="currency" currency="VND" locale="vi-VN"
                                                placeholder="Nhập giá nhập">
                                            </p-inputNumber>
                                            <small class="p-error"
                                                *ngIf="createItemData.controls['import_price'].invalid && createItemData.controls['import_price'].touched">
                                                Giá nhập không được để trống
                                            </small>
                                        </div>

                                        <!-- Giá bán -->
                                        <div class="p-field">
                                            <label for="price">Giá bán</label>
                                            <p-inputNumber id="price" formControlName="price" [min]="0" mode="currency"
                                                currency="VND" locale="vi-VN" placeholder="Nhập giá bán">
                                            </p-inputNumber>
                                            <small class="p-error"
                                                *ngIf="createItemData.controls['price'].invalid && createItemData.controls['price'].touched">
                                                Giá bán không được để trống
                                            </small>
                                        </div>

                                        <!-- Danh mục -->
                                        <div class="p-field">
                                            <label for="menu_category_id">Danh mục</label>
                                            <p-select id="menu_category_id" formControlName="menu_category_id"
                                                [options]="categories" optionLabel="menu_category_name"
                                                optionValue="menu_category_id" placeholder="-- Chọn danh mục --"
                                                [appendTo]="'body'" [scrollHeight]="'120px'">
                                            </p-select>
                                            <small class="p-error"
                                                *ngIf="createItemData.controls['menu_category_id'].invalid && createItemData.controls['menu_category_id'].touched">
                                                Vui lòng chọn danh mục
                                            </small>
                                        </div>

                                        <!-- Độ ngọt -->
                                        <div class="p-field">
                                            <label for="sweetness_level">Độ ngọt</label>
                                            <p-select id="sweetness_level" formControlName="sweetness_level"
                                                [options]="sweetness_level" optionLabel="label" optionValue="value"
                                                placeholder="-- Chọn độ ngọt --" [appendTo]="'body'"
                                                [scrollHeight]="'120px'">
                                            </p-select>
                                            <small class="p-error"
                                                *ngIf="createItemData.controls['sweetness_level'].invalid && createItemData.controls['sweetness_level'].touched">
                                                Vui lòng chọn độ ngọt
                                            </small>
                                        </div>

                                        <!-- Nhiệt độ -->
                                        <div class="p-field">
                                            <label for="temperature">Nhiệt độ</label>
                                            <p-select id="temperature" formControlName="temperature"
                                                [options]="temperature" optionLabel="label" optionValue="value"
                                                placeholder="-- Chọn nhiệt độ --" [appendTo]="'body'"
                                                [scrollHeight]="'120px'">
                                            </p-select>
                                            <small class="p-error"
                                                *ngIf="createItemData.controls['temperature'].invalid && createItemData.controls['temperature'].touched">
                                                Vui lòng chọn nhiệt độ
                                            </small>
                                        </div>

                                        <!-- Số lượng -->
                                        <div class="p-field">
                                            <label for="quantity">Số lượng</label>
                                            <p-inputNumber id="quantity" formControlName="quantity" [min]="0">
                                            </p-inputNumber>
                                        </div>

                                        <!-- Mô tả -->
                                        <div class="p-field">
                                            <label for="description">Mô tả</label>
                                            <input pInputText id="description" formControlName="description"
                                                placeholder="Nhập mô tả">
                                        </div>
                                    </div>

                                    <!-- Ảnh -->
                                    <div class="p-field">
                                        <label for="image_url">Ảnh</label>
                                        <p-fileUpload name="file" accept="image/*" [showUploadButton]="false"
                                            [showCancelButton]="false" (onSelect)="onImageSelect($event)">
                                        </p-fileUpload>
                                    </div>

                                    <!-- Nút tạo món -->
                                    <div class="dialog-footer">
                                        <p-button icon="pi pi-plus" label="Tạo món" type="submit"
                                            styleClass="p-button-sm p-button-success"
                                            [disabled]="createItemData.invalid">
                                        </p-button>
                                    </div>
                                </form>
                            </p-dialog>

                        </div>
                        <div class="relative">
                            <p-button icon="pi pi-bars" label="Tạo danh mục" [size]="'small'"
                                (onClick)="showCreateCateForm = true"></p-button>

                            <!-- form tao danh muc -->
                            <p-dialog header="Tạo món mới" [(visible)]="showCreateCateForm" [modal]="true"
                                [style]="{ width: '30vw' }" [closable]="true" [draggable]="false" [resizable]="false">
                                <div class="form-group">
                                    <label for="menu_category_name">Tên danh mục</label>
                                    <input pInputText id="menu_category_name" [(ngModel)]="menuCategoryName" type="text"
                                        placeholder="Nhập tên danh mục" />
                                </div>

                                <div class="message" *ngIf="message">{{ message }}</div>

                                <div class="dialog-footer">
                                    <p-button icon="pi pi-plus" label="Tạo danh mục" (onClick)="createCategory()"
                                        [size]="'small'" styleClass="p-button-sm p-button-success"
                                        [disabled]="createItemData.invalid">
                                    </p-button>
                                </div>
                            </p-dialog>

                        </div>
                        <div class="relative">
                            <p-button icon="pi pi-pencil" label="Sửa danh mục" [size]="'small'"
                                (onClick)="showUpdateCateForm = true"></p-button>
                            <!-- Form sửa cate -->
                        <p-dialog header="Sửa danh mục"
          [(visible)]="showUpdateCateForm"
          [modal]="true"
          [style]="{ width: '500px' }"
          [closable]="true"
          [draggable]="false"
          [resizable]="false">

    <div>
        <p-table [value]="categories" stripedRows>
            
            <!-- Header -->
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 300px;">Tên danh mục</th>
                    <th>Hành động</th>
                </tr>
            </ng-template>

            <!-- Body -->
            <ng-template pTemplate="body" let-categories>
                <tr>
                    <td>{{ categories.menu_category_name }}</td>
                    <td class="tdAction">
                        <p-button icon="pi pi-pencil" label="Sửa" size="small"
                            severity="warn"
                            (onClick)="showUpdateCategory(categories)">
                        </p-button>

                        <p-button icon="pi pi-trash" label="Xoá" size="small"
                            severity="danger"
                            (onClick)="deleteCategory(categories.menu_category_id)">
                        </p-button>
                    </td>
                </tr>

                <!-- Hàng edit -->
                @if (editingCate?.menu_category_id === categories.menu_category_id) {
                    <tr>
                        <td>
                            <input pInputText type="text"
                                [(ngModel)]="editingCate.menu_category_name"
                                placeholder="Nhập tên danh mục"
                                style="width: 100%;" />
                        </td>
                        <td>
                            <div class="tdAction editingZoneBtn">
                                <p-button label="Lưu"
                                    size="small"
                                    severity="success"
                                    (onClick)="updateCategory()">
                                </p-button>

                                <p-button label="Huỷ"
                                    size="small"
                                    severity="secondary"
                                    (onClick)="editingCate = null">
                                </p-button>
                            </div>
                        </td>
                    </tr>
                }
            </ng-template>

        </p-table>
    </div>

</p-dialog>

                        </div>
                        <p-button icon="pi pi-refresh" rounded raised (onClick)="resetTable(dt)" [size]="'small'" />
                    </div>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th class="w-[120px]" pSortableColumn="menu_name">Tên <p-sortIcon field="menu_name" /></th>
                    <th>Ảnh</th>
                    <th pSortableColumn="import_price">Giá nhập<p-sortIcon field="import_price" /></th>
                    <th pSortableColumn="price">Giá bán<p-sortIcon field="price" /></th>
                    <th class="w-[95px]" pSortableColumn="menu_category_name">Danh mục<p-sortIcon
                            field="menu_category_name" /></th>
                    <th>Độ ngọt</th>
                    <th class="w-[70px]">Nhiệt độ</th>
                    <th>Mô tả</th>
                    <th class="w-[87px]" pSortableColumn="quantity">Số lượng<p-sortIcon field="quantity" /></th>
                    <th>Hành động</th>
                </tr>
            </ng-template>
            <ng-template #body let-product class="body">
                <tr [class.active] = "product.is_active === 0 || product.quantity === 0">
                    <td>{{ product.menu_name }}</td>
                    <td>
                        <img [src]="backendURL + product.image_url" [alt]="product.menu_name"
                            class="w-[70px] h-[70px] rounded object-cover" />
                    </td>
                    <td>{{product.import_price | currency: 'VND'}}</td>
                    <td>{{ product.price | currency: 'VND' }}</td>
                    <td>{{product.menu_category_name}}</td>
                    <td>{{ product.sweetness_level }}</td>
                    <td>{{ product.temperature }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                        <p-badge [value]="product.quantity" [severity]="stockSeverity(product)" />
                    </td>
                    <!-- <td>{{product.quantity}}</td> -->
                    <!-- <td>{{ product.is_active == 1 ? 'Còn' : 'Hết' }}</td> -->
                    <td>
                        <div class="btn">
                            <p-button label="Sửa" icon="pi pi-pencil" [severity]="'warn'" [size]="'small'"
                                (onClick)="editMenu(product)"></p-button>
                            <p-button label="Xoá" icon="pi pi-trash" [severity]="'danger'" [size]="'small'"
                                (onClick)="deleteMenu(product.menu_id)"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <!-- Form sửa món -->
        <p-dialog header="Sửa món" [(visible)]="showUpdateItemForm" [modal]="true" [style]="{ width: '60vw' }"
            [closable]="true" [draggable]="false" [resizable]="false">

            <form [formGroup]="updateItemData" (ngSubmit)="submitUpdateItem()" class="create-item-form p-fluid">

                <div class="inputContent">

                    <!-- Tên món -->
                    <div class="p-field">
                        <label for="menu_name">Tên món</label>
                        <input pInputText id="menu_name" formControlName="menu_name" placeholder="Nhập tên món">
                    </div>

                    <!-- Giá nhập -->
                    <div class="p-field">
                        <label for="import_price">Giá nhập</label>
                        <p-inputNumber id="import_price" formControlName="import_price" [min]="0" mode="currency"
                            currency="VND" locale="vi-VN" placeholder="Nhập giá nhập">
                        </p-inputNumber>
                    </div>

                    <!-- Giá bán -->
                    <div class="p-field">
                        <label for="price">Giá bán</label>
                        <p-inputNumber id="price" formControlName="price" [min]="0" mode="currency" currency="VND"
                            locale="vi-VN" placeholder="Nhập giá bán">
                        </p-inputNumber>
                    </div>

                    <!-- Danh mục -->
                    <div class="p-field">
                        <label for="menu_category_id">Danh mục</label>
                        <p-select id="menu_category_id" formControlName="menu_category_id" [options]="categories"
                            optionLabel="menu_category_name" optionValue="menu_category_id"
                            placeholder="-- Chọn danh mục --" [appendTo]="'body'" [scrollHeight]="'120px'">
                        </p-select>
                    </div>

                    <!-- Độ ngọt -->
                    <div class="p-field">
                        <label for="sweetness_level">Độ ngọt</label>
                        <p-select id="sweetness_level" formControlName="sweetness_level" [options]="sweetness_level"
                            optionLabel="label" optionValue="value" placeholder="-- Chọn độ ngọt --" [appendTo]="'body'"
                            [scrollHeight]="'120px'">
                        </p-select>
                    </div>

                    <!-- Nhiệt độ -->
                    <div class="p-field">
                        <label for="temperature">Nhiệt độ</label>
                        <p-select id="temperature" formControlName="temperature" [options]="temperature"
                            optionLabel="label" optionValue="value" placeholder="-- Chọn nhiệt độ --"
                            [appendTo]="'body'" [scrollHeight]="'120px'">
                        </p-select>
                    </div>

                    <!-- Trạng thái -->
                    <div class="p-field">
                        <label for="is_active">Trạng thái</label>
                        <p-select id="is_active" formControlName="is_active" [options]="is_active" optionLabel="label"
                            optionValue="value" placeholder="-- Chọn trạng thái --" [appendTo]="'body'"
                            [scrollHeight]="'120px'">
                        </p-select>
                    </div>

                    <!-- Số lượng -->
                    <div class="p-field">
                        <label for="quantity">Số lượng</label>
                        <p-inputNumber id="quantity" formControlName="quantity" [min]="0"> </p-inputNumber>
                    </div>

                    <!-- Mô tả -->
                    <div class="p-field">
                        <label for="description">Mô tả</label>
                        <input pInputText id="description" formControlName="description" placeholder="Nhập mô tả">
                    </div>

                </div>

                <!-- Ảnh -->
                <div class="p-field">
                    <label for="image_url">Ảnh</label>
                    <p-fileUpload name="file" accept="image/*" [showUploadButton]="false" [showCancelButton]="false"
                        (onSelect)="onUpdateImageSelect($event)">
                    </p-fileUpload>
                </div>

                <!-- Nút cập nhật -->
                <div class="dialog-footer">
                    <p-button icon="pi pi-save" label="Cập nhật" type="submit" styleClass="p-button-sm p-button-primary"
                        [disabled]="updateItemData.invalid">
                    </p-button>
                </div>

            </form>

        </p-dialog>

    </div>

</div>