* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

p-chart {
    min-height: 500px;
}

.main {
    position: relative;
}

.overPlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.formAddExpense {
    position: absolute;
    top: 50px;
    right: 0;
    gap: 20px;
    padding: 20px;
    border: 1px dashed var(--border-color);
    background-color: var(--bg-main);
    z-index: 100;

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
        max-width: 700px;
        opacity: 1;
        pointer-events: auto;
        visibility: unset;
    }
}

.expense-form {
    padding: 1.5rem;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.25rem;
}

.p-field {
    display: flex;
    flex-direction: column;
}

.p-field label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #495057;
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

::ng-deep .p-dialog .p-dialog-content {
    padding-top: 0;
}


.btnCancel {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--text-danger);
}

.inputInfor {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: end;
}

.formAddExpense .form-group {
    display: flex;
    flex-direction: column;
}

.formAddExpense .form-group input {
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.formAddExpense .btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.fillter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fillter .filterTime {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.fillter .filterTime .btnExpense {
    position: relative;
}

.overView {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.overView .card {
    flex: 1 0 250px;
    height: 150px;
    padding: 20px;
    /* border-radius: 8px; */
}

.overView .card h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-main);
}

.overView .card .infor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.overView .card .infor i {
    font-size: 2.5rem;
    color: var(--text-main);
}

.overView .card .infor p {
    font-size: 2.5rem;
    font-weight: 800;
}

.overView .infor .predict {
    font-size: 16px;
    font-weight: 500;
    color: rgb(29, 163, 2);
    position: absolute;
    top: -10px;
    right: 0;
}

.overView .doanhThu,
.todayRevenue {
    background-color: var(--card-bg-revenue);
    border-radius: 16px;
}

.overView .loiNhuan,
.todayOrders {
    background-color: var(--card-bg-profit);
    border-radius: 16px;
}

.overView .tiLeLoiNhuan {
    background-color: var(--card-bg-profit-rate);
    border-radius: 16px;
}

.overView .soDonHang,
.todayHotItem {
    background-color: var(--card-bg-orders);
    border-radius: 16px;
}

.chars {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.charRevenue {
    flex: 2;
    min-width: 300px;
}


.charPie {
    flex: 1;
    min-width: 300px;
}

.product {
    margin-top: 50px;
}

.line {
    height: 2px;
    background-color: var(--line-color);
    margin: 20px 0;
}

.byMonth {
    background: var(--bg-main);
    padding: 20px;
    border-radius: 16px;
}

.byDay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    background: var(--bg-main);
    padding: 20px;
}

.today {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.byDay .card {
    flex: 1 0 250px;
    min-height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.byDay .card .infor {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.byDay .card .infor i {
    font-size: 2.5rem;
    color: var(--text-main);
}


.byDay .card h2,
h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-main);
}

.byDay .card p {
    font-size: 2.5rem;
    font-weight: 800;
}

.byDay .todayHotItem img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.byDay .todayHotItem p {
    font-size: 2rem !important;
    font-weight: 800;
}