<div class="main">
    <p-toast position="bottom-right" styleClass="my-toast"></p-toast>

    <div class="backdrop" [class.active]="isBackdropActive" (click)="resetShow()"></div>

    <div class="nav">

        <div class="flex-column">
            <label for="search" class="font-bold block mb-2"> Tìm kiếm </label>
            <p-iconfield>
                <input type="text" pInputText placeholder="Tên món" [(ngModel)]="keyword" (ngModelChange)="search()" />
            </p-iconfield>
        </div>

        <div class="filter">
            <h2>Danh mục</h2>
            <div class="cate cursor-pointer" [class.bg-blue-500]="!selectedCategory"
                [class.text-white]="!selectedCategory" (click)="filterByCategory(null)">Tất cả</div>
            <div class="cate cursor-pointer" [class.bg-blue-500]="selectedCategory === item.menu_category_name"
                [class.text-white]="selectedCategory === item.menu_category_name" *ngFor="let item of categories"
                (click)="filterByCategory(item.menu_category_name)">
                {{ item.menu_category_name }}
            </div>
        </div>

    </div>

    <div class="menu">
        <div class="item" *ngFor="let item of filteredMenus" (click)="selectItem(item)">
            <img [src]="backendURL + item.image_url" alt="">
            <div class="infor">
                <h3>{{item.menu_name}}</h3>
            </div>
        </div>
    </div>

    <div class="detail" *ngIf="showUpdateItemForm">

        <div class="ingredients">
            <span class="text-xl font-bold">{{selectedItem?.menu_name}}</span>
            <div class="card">
                <p-table [value]="ingredients" [tableStyle]="{ 'min-width': '30rem' }">
                    <ng-template #caption>
                        <div class="flex items-center justify-between relative">
                            <span class="text-xl font-bold">Nguyên liệu</span>
                            <p colspan="6">Có tất cả {{ ingredients ? ingredients.length : 0 }} nguyên liệu.</p>

                        </div>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>
                                <img [src]="backendURL + product.image" alt="">
                            </td>
                            <td>{{ product.name}}</td>
                            <td>{{ product.quantity | number:'1.0-2' }} {{ product.unit }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="tutorial">
            <span class="text-xl font-bold">Cách làm</span>
            <div class="card flex justify-center">
                <textarea [disabled]="true" rows="25" cols="60" pTextarea [(ngModel)]="selectedItem.tutorial"
                    placeholder="Viết hướng dẫn ..."></textarea>
            </div>
        </div>
    </div>


</div>